.footer {
    width: 100%;
    height: 200px;
    background: #21325e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }

  .tooltip-containerf {
    position: relative !important;
  }

  .tooltip-container__tooltipf {
    position: absolute;
    font-size: .77em;
    bottom: 6.6em;
    left: 50%;
    transform: translateX(-50%);
    color: #e9d35b;
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out all;
  }

  .tooltip-container__tooltip_activef {
    opacity: 1;
    pointer-events: all;
  }
